@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --bg:#cbdbe6;
    --bg2:#FFF;
    --bg-contact:#e2e1e1;
    --bg3:#f5f5f5;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    
}

.tile {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    .tile {
        height: 100vh;
    }
}


